# Local .terraform directories
**/.terraform/*

# .tfstate files (store infrastructure state)
*.tfstate
*.tfstate.*

# Crash log files
crash.log

# Exclude override files (used locally)
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Sensitive variable files
*.tfvars
*.tfvars.json

# Ignore CLI configuration
.terraformrc
terraform.rc

# Misc
*.log
